<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image: url("static/3.jpg");
            }
            div{
                
                margin-top: 10%;
            }
        </style>
    </head>
<body>
    <div>
        <h1 style="background-color:mintcream; color: orangered; padding-left: 20%;">DataBase Management System Material</h1>

        <input type='submit' value='Lecture 1' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/1.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 2' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/2.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 3' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/3.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 4' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/4.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 5' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/5.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 6' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/6.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 7' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/7.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 8' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/8.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 9' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/9.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 10' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/10.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 11' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/11.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 12' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/12.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 13' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/13.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 14' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/14.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 15' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/15.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 16' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/16.ppt"  width="100" height="30"><br>
        <input type='submit' value='Lecture 17' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/dbms/17.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 18' style="margin-left: 10%;"/><embed type="text/ppt" src="D:/Grrass/ghyanbhandar/static/dbms/18.ppt"  width="100" height="30"><br>
        

    </div>
</body>
</html>