<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image: url("static/3.jpg");
            }
            div{
                
                margin-top: 10%;
            }
        </style>
    </head>
<body>
    <div>
        <h1 style="background-color:mintcream; color: orangered; padding-left: 20%;">Data Structure Material</h1>

        <input type='submit' value='Lecture 1' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/1.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 2' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/2.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 3' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/3.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 4' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/4.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 5' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/5.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 6' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/6.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 7' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/7.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 8' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/8.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 9' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/9.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 10' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/10.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 11' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/11.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 12' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ds/12.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lecture 13' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/13.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 14' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/14.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 15' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/15.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 16' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/16.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 17' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/17.pptx"  width="100" height="30"><br>
        <input type='submit' value='Lecture 18' style="margin-left: 10%;"/><embed type="text/pptx" src="D:/Grrass/ghyanbhandar/static/ds/18.pptx"  width="100" height="30"><br>
        

    </div>
</body>
</html>