<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image: url("static/3.jpg");
            }
            div{
                
                margin-top: 10%;
            }
        </style>
    </head>
<body>
    <div>
        <h1 style="background-color:mintcream; color: orangered; padding-left: 20%;">The embed element</h1>

        <input type='submit' value='HTML' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ht/1.pdf"  width="100" height="30"><br>
        <input type='submit' value='HTML CheatSheet' style="margin-left: 10%;" /><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ht/2.pdf"  width="100" height="30"><br>
        <input type='submit' value='HTML SCHOOL BOOK' style="margin-left: 10%;"/><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ht/3.pdf"  width="100" height="30"><br>
        <input type='submit' value='HTML MEGA Cheatsheet' style="margin-left: 10%;" /><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/ht/4.pdf"  width="100" height="30"><br>
       
        
        

    </div>
</body>
</html>