<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-image: url("static/3.jpg");
            }
            div{
                
                margin-top: 10%;
            }
        </style>
    </head>
<body>
    <div>
        <h1 style="background-color:mintcream; color: orangered; padding-left: 20%;">Python Material </h1>

        <input type='submit' value='Args_kwargs' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/args_kwargs.pdf"  width="100" height="30"><br>
        <input type='submit' value='Closures' style="margin-left: 10%;" ><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/closures.pdf"  width="100" height="30"><br>
        <input type='submit' value='Decorators' style="margin-left: 10%;" ><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/Decorator.pdf"  width="100" height="30"><br>
        <input type='submit' value='Generators' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/Generators.pdf"  width="100" height="30"><br>
        <input type='submit' value='Lambda, Map, Filter, Reduce' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/Lambda,map,filter,reduce.pdf"  width="100" height="30"><br>
        <input type='submit' value='list_comprehension' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/list_comprehension.pdf"  width="100" height="30"><br>
        <input type='submit' value='Namespace' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/Namespace.pdf"  width="100" height="30"><br>
        <input type='submit' value='Recursion' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/Recursion.pdf"  width="100" height="30"><br>
        <input type='submit' value='Excerise' style="margin-left: 10%;"><embed type="text/pdf" src="D:/Grrass/ghyanbhandar/static/py/Excerise.pdf"  width="100" height="30"><br>
        
        
        

    </div>
</body>
</html>