<!DOCTYPE html>
<html>
    <head>
        
        <style>
            body {
                background-color:rgb(26, 12, 218);
            }

            div{
                color: rgb(215, 236, 243);
                margin-left: 10%;
            }
            
            
        </style>
    </head>
    <body>
        <div>
             
                <p>
                    <h1>Getting Started with Python</h1>
                     Introducing Python<br>
                     Installing Python on Windows<br>
                     Installing Python on Linux and other
                </p>
                <p>
                    <h1>Operating Systems</h1>
                     Introducing Python IDLE<br>
                     Programming in Interactive Mode<br>
                     Programming in Scripting Mode
                </p>
                    <h1>Flow Control in Python</h1>
                     The if Statement<br>
                     The else Clause<br>
                     Using elif Clause<br>
                     The while Statement<br>
                     Avoiding infinite loops<br>
                     Values as conditions<br>
                     Using Logical Operators<br>
                     Planning Your Program with Pseudocode
                <p>
                    <h1>Lists in Python</h1>
                     Creating and Using Lists<br>
                     len() with Lists<br>
                     in Operator with Lists<br>
                     Indexing, Slicing and Concatenating<br>
                     Deleting List Element with del<br>
                     Using Lists Methods such as append(), sort(),reverse(), count(), pop(), remove(), insert() and index() <br>
                     Using Nested Sequences<br>
                     Understanding Shared Refrences<br>
                </p>    
                <p>
                    <h1>Functions in Python</h1>
                     Defining Functions<br>
                     Using Parameters and Return Values Types, Variables and Input/Output<br>
                     Using quotes and escape character<br>
                     String Concatenation and Repeater Operators<br>
                     Using Mathematical Operators with
                </p>
                <p>
                    <h1>Numbers</h1>
                     Understanding Variables<br>
                     Getting User Input with input()<br>
                     Using Strings Methods<br>
                     Converting Values<br>
                </p>    
                <p>
                    <h1>For Loops and Tuples</h1>
                     Using for Loops<br>
                     Using Sequence Operators and Functions with Strings<br>
                     Finding Length with len()<br>
                     Using the in Operator<br>
                     Indexing and Slicing Strings<br>
                     Using Random Module<br>
                     Using Tuples<br>
                     Sequence Operators and Functions with<br>
                </p>
                <p>
                    <h1>Tuples</h1>
                </p>
                <p>    
                <h1> Dictionaries</h1>
                     Using Dictionaries<br>
                     Accessing Dictionary values<br>
                     Adding, Replacing and Deleting key-value pairs<br>
                     Functions: get(), keys(), values() and items()<br>
                </p>
                <p>
                    <h1>File Input and Output and Exceptions</h1>
                     The open Function<br>
                     Input from Text Files<br>
                     Output to Text Files<br>
                     Storing Complex Data in Files with Pickles <br>
                     Using Arguments and Defaults Parameters<br>
                     Using Global Variables and Constants<br>
                     Variable Scope<br>
                     References<br>
                </p>
                <p>
                    <h1>Object-Oriented Python</h1>
                     Introduction to Object-Oriented Python<br>
                     Creating Classes, Methods and Objects<br>
                     Using Constructor and Attributes<br>
                     Using Class Attributes and Static Methods<br>
                     Understanding Object Encapsulation<br>
                     Understanding Object Encapsulation<br>
                     Private Attributes and Methods<br>
                     Controlling Attribute Access<br>
                     Creating and Accessing Properties<br>
                     Combining Objects<br>
                     Using Inheritance to Create New Classes<br>
                     Altering Behavior of Inherited Methods<br>
                     Understanding Polymorphism and Shelve<br>
                     Handling Exceptions<br>
                     Using try Statement with except Clause<br>
                     Handling Multiple Exceptions Modules<br>
                     Using Modules in Programs<br>
                     Writing Modules<br>
                     Importing Modules<br>
                     Using Imported Functions and Modules<br>
                </p>
                <p>
                    <h1>Graphical Application Development</h1>
                     Examining A GUI<br>
                     Understanding Event Driven Programming<br>
                     Introduction to Tkinter Module<br>
                     Using Root Window<br>
                     Creating Frames<br>
                     Using Labels and Buttons<br>
                     GUI Programs with Classes<br>
                     Binding Widgets and Event Handlers<br>
                     Using Text and Entry Widgets<br>
                     Using the Grid Layout Manager<br>
                     Using Check and Radio Buttons<br>

                </p>
        </div>
            

    </body>
</html>
