<html>
    <head>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
    <body>
        <div>
            <table class="table table-sm" >
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Experience</th>
                </tr>
                <tr style="color: black"> 
                    <td>
                        {% for i in data %}
                            {% for j in i %}
                                
                                    {{j}}
                                        
                                                                    
                            {% endfor %}<br><br>
                        {% endfor %}<br>
                    </td>
                    
                </tr>
            </table>
        </div>
    </body>
</html>
